{
    "TOKEN": "NTY1ODk0MTYwNjY2ODUzNDA2.XK9Xkg.4MyOwJl641CxJSW3Kby9Is4e07s",
    "LOG_URL": "https://logviewername.herokuapp.com/",
    "GUILD_ID": 561592704123928584,
    "OWNERS": "358661627459141642",
    "MONGO_URI": "mongodb+srv://mongodburi"
}
